---
layout: default
title: Contribution Themed Months
description: "Month-long activation focusing on a specific contribution area for the GitLab community."
canonical_path: "/community/contribute/development/themed-months"
suppress_header: true
extra_css:
  - contributing.css
  - community.css
  - bl-modal.css
extra_js:
  - libs/slick.min.js
---
.wrapper
  .simple-header
    %h1 Contribute to GitLab 
    %p
    :markdown
      Join our new initiative where the GitLab community focuses on a specific contribution area for a whole month.
  #content
    .wrapper.container.contributing-content{role: "main"}
      .block
        .block-content
          %h2.block-title
          %p
            During each month, you will have the opportunity to learn more about the highlighted contribution area, improve your skills, and work with the talented community and GitLab Team members while contributing to your favorite GitLab Open Source project.

            On top of the learning opportunities, we would like to acknowledge all community contributions with limited-edition rewards.
         
            The first themed month will be April 2022. The contribution area we will focus on is Frontend. 

      .block
        .block-content
          %h2#get-started.block-title Participate in April's Theme: Frontend!
          :markdown      
            1. Check the [Frontend contribution opportunities](https://about.gitlab.com/community/contribute/development/).
            1. Join one of our [upcoming office hour calls](https://www.meetup.com/gitlab-virtual-meetups/).
            1. Join our [Gitter channel](https://gitter.im/gitlab/contributors) to ask questions or to say hi.

                There is not a requirement to sign up for participating. However, we recommend registering at our [meetup.com group](https://www.meetup.com/gitlab-virtual-meetups/) to receive updates and reminders for our upcoming office hour calls.
         
      .block
        .block-content
          %h2.block-title Frequently Asked Questions
          :markdown
            1. How is this initiative different from the [quarterly GitLab Hackathon](https://about.gitlab.com/community/hackathon/)?
             - This is not a competition rather an opportunity to learn, improve your skills, and connect with people from the community and GitLab.
            1. How will I receive my reward?
             - As soon as your merger question is merged, please [fill the form](https://docs.google.com/forms/d/e/1FAIpQLSfGo-3kEimVPpC5zKKxXHkFjgYx8-vQAanzAX2LxGgXQqXikQ/viewform) for requesting it.
            1. Is attendance to the office hour calls mandatory?
             - Office hour calls help you get started, address any questions, and meet the community. Your attendance is not mandatory unless you want to miss all the fun.
