---
title: "Top 5 takeaways from the 2018 Developer Survey"
author: Aricka Flowers
author_gitlab: atflowers
author_twitter: arickaflowers
categories: insights
image_title: '/images/blogimages/top-five-takeaways-blog-image.jpg'
description: "GitLab's director of product marketing discusses the challenges facing DevOps adoption and other key findings from our 2018 Developer Survey."
cta_button_text: 'Watch now'
cta_button_link: 'https://www.youtube.com/watch?v=7hgoeV6LcFo'
tags: DevOps, developer survey, webcast, workflow, collaboration
---

While the merits of cross-functional workflows are becoming more accepted in the software development space, it still has quite a way to go. In fact, [GitLab’s survey of 5,000 software professionals](/developer-survey/previous/2018/) found that only 23 percent of respondents are working with a DevOps workflow.

This is one of five top takeaways from the annual report on software development trends and the impact continuous integration and automation have on the way IT teams work.

- [What’s in the webcast](#whats-in-the-webcast)
- [Watch the recording](#watch-the-recording)
- [Top takeaways](#top-takeaways)

## What’s in the webcast

The discussion kicks off with the differing outlooks managers and developers have on DevOps adoption and the source of bottlenecks in the development process. We move on to highlight the distinctions between high- and low-performing teams and the role open source tools have in software development. The discussion then delves into the way continuous integration helps teams get working code out of the door faster.

## Watch the recording

<!-- blank line -->
<figure class="video_container">
  <iframe src="https://www.youtube.com/embed/7hgoeV6LcFo" frameborder="0" allowfullscreen="true"> </iframe>
</figure>
<!-- blank line -->

## Top takeaways

### Managers are more optimistic about their DevOps adoption progress than developers

>Companies tend to look at DevOps as the next transformational methodology that's going to solve all software delivery problems, and of course there's a lot of truth in that when done really well. What we're finding is when you actually go and survey these organizations, managers and the management layer seem to have a more optimistic view of how they are progressing and what they can do with it. And though developers find the promise in it, they tend to agree less with the optimism of management. From our perspective, that makes a lot of sense because developers are in the trenches tooling, retooling, trying to configure, making that CD pipeline work, always kind of running into different roadblocks and trying to solve that all the time. So, although they're excited, I think their viewpoint is not necessarily as rosy about it when compared to management.

### Developers say most delays in the development process are in the testing phase, while managers say the majority of bottlenecks are attributed to the planning process

>Everybody acknowledges that there are bottlenecks and delays in this development pipeline. When doing DevOps, you still get stuck. But where they actually encounter these delays and bottlenecks varied from team to team. The majority of this was in testing, the next one was planning. Development, operations, and practitioner teams actually found most of the bottlenecks and delays in their actual phases of work, whether this was testing the plan to production, etcetera. Management was found to be more frustrated and concerned about the planning phase of getting things kick started. - Ashish Kuthiala

>Fifty-two percent of people say that testing is where they encounter the most delays. I don't think that's a number to be taken lightly. This is why continuous testing, automated testing is such a big piece of the DevOps software development lifecycle. If that's the single biggest cause for delay and we can automate more of that testing, the time it takes has got to come down. - Alan Shimel

### Open source tools play an integral role in the software development process

>We're finding that open source tools are becoming a very critical component that developers choose to help solve their problems. People are starting to look at tools that they can integrate with their stack and modify or contribute to; and they want to be recognized as well. So they're starting to turn to tools that are malleable, tools that they can use and understand what's underneath the hood. There's a good community around open source because as developers face problems, they can ask their peers for help and also help others. - Ashish Kuthiala

### Teams that self-identify as high performing do DevOps well

>Teams that move fast work on smaller pieces of code and get them out of production quickly, i.e. they do DevOps well and they assess themselves as higher performing teams ...
For these teams that do well, we found that removing roadblocks in the development process starts with continuous integration. If you are doing continuous integration well and automating that portion of the lifecycle along with others, it makes a huge impact in removing bottlenecks. You have to ship and get the code or the configuration change production ready right away. The more you wait, the more it piles it up and the harder it becomes. - Ashish Kuthiala

Photo by [Caspar Rubin](https://unsplash.com/photos/fPkvU7RDmCo) on [Unsplash](https://unsplash.com/)
{: .note}
